* {
  font-family: Helvetica, sans-serif;
  background-color: #eeeeee;
}

li {
  font-size: 18px;
  font-weight: 500;
}

.main li {
  text-align: left;
  font-weight: 900;
  font-size: 24px;
  list-style-type: square;
  list-style-position: inside;
}

.main .logo {
  height: 700px;
  background-color: #000000;
}

#title {
  background-color: #283c5a;
  color: #d6d6d6;
}

img {
  height: 600px;
  width: auto;
}

h1 {
  background-color: #ffffff;
  color: #222222;
  font-size: 42px;
  text-align: center;
}

h2 {
  background-color: #ffffff;
  color: #233586;
}

.main {
  text-align: center;
  background-color: rgb(218, 218, 218);
}





