/* Universal Selector ------------------- */

* {
  font-family: Helvetica, sans-serif;
  background-color: #ebebeb;
  color:#242424
}

/* Type selector ----------------------- */

img {
  height: 600px;
  width: auto;
}

h1 {
  font-size: 42px;
  color: #fafafa;
  background-color: #4078c0;
}

h2 {
  color: #4078c0;
  font-size: 30px;
}

li {
  font-size: 18px;
  font-weight: 500;
}

/* ID Selector -------------------------- */

#title {
  color: #f5f5f5;
}

/* Class Selector ----------------------- */

.main {
  text-align: center;
  background-color: #fafafa;
}

/* Descendant Combinator(s) ------------- */

.main .logo {
  padding: 5px;
  margin-top: 30px;
  height: 700px;
}

.nav ul {
  list-style-type: square;
}

.nav a {
  color: #4078c0;
  background: transparent;
}

/* Chaining Selectors ------------------ */

.nav.item {
  font-size: 24px;
  font-weight: 600;
  color: #6cc644;
}

/* Grouping Selectors ------------------- */

#title,  
.main .logo {
  background-color: #333;
}

h1,
h2 {
  background-color: #ffffff;
  text-align: center;
}

/* Rule Order ------------------------- */

h1 {
  background-color: #4078c0;
}